* {
    box-sizing:border-box;
} 

body {
    font:normal 14px Tahoma, Helvetica, sans-serif;     
    color:azure;
    background-color:#333;
} 

label {
    padding:15px;
    display:inline-block;
}

p {
    padding:10px; 
    margin:0 5%;
    color:white;
} 

input, select {
    width:100%;
    padding:5px;   
    margin:10px 0;
    background-color:rgb(255, 255, 255); 
    border:none;
    border-radius:2px;  
    transition:0.3s; 
} 

input:hover, select:hover {  
    background-color:rgb(198, 203, 236);  
    box-shadow:0 5px 10px rgba(255, 1, 1, 0.25) inset;
} 

input[type="submit"], select {
    cursor:pointer;
}

input[type="submit"]:hover {
    border-radius:10px;
}   

#register {
    width:auto;
    padding:8px;
    margin:10px; 
}

.container {
    margin-top:6.9%;
    background-color:black;
    border:ivory; 
    padding:2px; 
    border-style:solid;
    width:60%;
    margin-left:20%;
}

form {
    background-color:#333;
    margin:20px;
    padding:20px;
}

.col-30 {
    float:left;
    width:30%;
    margin-top:6px;
}  

.col-40 {
    float:left;
    width:40%;
    margin-top:6px;
}

/*clear class*/
.row:after { 
    content:"";
    display:table;
    clear:both;
}
/*when screen is less than 600px, two buttons stack*/
@media screen and (max-width: 600px) {
    .col-30, .col-40, input[type=submit], progress {
        width: 100%;
        margin-top: 0;
    }
}

progress {
    -webkit-appearance:none;
    appearance:none; 
    width:100%; 
}

progress::-webkit-progress-bar {
    background-color:rgb(80, 79, 79);
    border-radius:2px;
    box-shadow:0 5px 10px rgba(206, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
    background-image:-webkit-linear-gradient(-90deg, transparent 33%, 
            rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
        -webkit-linear-gradient(top, transparent 66%,
            rgba(255, 255, 255, 0.1) 66%, transparent 33%, rgb(0, 0, 0, .1) 33%),
        -webkit-linear-gradient(right, rgb(51, 255, 0), #f44); 
    border-radius:2px; 
    background-size:35px 20px, 100% 100%, 100% 100%; 
    transition:0.9s; 
}